/*** custom properties ***/
:root {
    /* colors */ /* primary */
    --clr-dark-cyan: hsl(185, 75%, 39%);
    --clr-dark-desaturated-blue: hsl(229, 23%, 23%);
    --clr-dark-grayish-blue: hsl(227, 10%, 46%);

    /* colors */ /* neutral */
    --clr-dark-gray: hsla(0, 0%, 59%, 0.25);
    --clr-white: hsl(0, 0%, 100%);

    /* typography */
    --ff-sans: 'Kumbh Sans', sans-serif;
    /* 18px name and stats */
    --fs-normal: 1.125rem;

    --fw-normal: 400;
    --fw-bold: 700;
}

/*** reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** utility classes ***/
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/*** set-up ***/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    /* 375px */
    min-width: 23.4375rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;

    font-family: var(--ff-sans);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);

    background-color: var(--clr-dark-cyan);
}

.card::before {
    content: url(./images/bg-pattern-top.svg);
    display: block;
    position: absolute;
    z-index: -5;
    bottom: 9em;
    right: 6.2em; 

}

.card::after {
    content: url(./images/bg-pattern-bottom.svg);
    display: block;
    position: absolute;
    z-index: -10;
    top: 9.7em;
    left: 4em;
}

/*** components ***/
.card {
    position: relative;
    width: 20.25rem;
    height: 23.375rem;
    background-color: white;
    border-radius: 0.8rem;
}

.card__top-background {
    width: 20.25rem;
    height: 8.81rem;
    background: url(./images/bg-pattern-card.svg);
    background-position: center;
    border-radius: 0.8rem 0.8rem 0 0;
}

.card__profile-image {
    position: absolute;
    width: auto;
    height: auto;
    top: 5.45rem;
    left: 6.6rem;
    border-radius: 50%;
    background-color: var(--clr-white);
}

.card__profile-image > img {
    border-radius: 50%;
    border: 5px solid var(--clr-white);  
}

.card__user-info {
    height: 9.1rem;
    padding: 2rem;
    border-bottom: 1px solid var(--clr-dark-gray);
    text-align: center;
}

.card__user-info__name {
    margin-top: 2.5rem;
    font-size: var(--fs-normal);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-desaturated-blue);
    
}

.card__user-info__age {
    font-weight: var(--fw-normal);
    color: var(--clr-dark-grayish-blue)
}

.card__user-info__city {
    margin-top: 0.5rem;
    font-size: .85rem;
    color: var(--clr-dark-grayish-blue)
}

.card__stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.2em;
    padding: 1em 2.3em;
    text-align: center;
}

.card__stats__stat-block {
    text-align: center;
}

.card__stats__stat-block:last-child {
    margin-left: 0.5em;
}

.card__stats__number {
    margin-top: 0.35em;
    font-weight: var(--fw-bold);
    color: var(--clr-dark-desaturated-blue);
}

.card__stats_description {
    margin-top: 0.45em;
    font-size: 0.6rem;
    color: var(--clr-dark-grayish-blue);
    letter-spacing: 1.8px;
}

.attribution {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 45em) {
    .card {
        width: 21.95rem;
    }

    .card::before {
        bottom: 4.2em;
        right: 11.3em;       
    }

    .card::after {
        top: 11.5em;
        left: 7.9em;
    }

    .card__top-background {
        width: 21.95rem;
    }

    .card__profile-image {
        left: 7.6rem;
    }

    .card__stats {
        gap: 2.6em;
        padding: 1em 2.75em;
        text-align: center;
    }

    .card__stats__stat-block:last-child {
        margin-left: 0.6em;
    }
}